.b05 {
	background: #fff;
	padding-top: 90px;
	padding-bottom: 30px;

	h2 {
		margin-bottom: 80px;
	}

	.result {
		margin: -10px 0;

		li {
			float: left;
			width: 33.33%;
			height: 140px;
			color: #464646;
			padding: 20px 0;
			overflow: hidden;
			position: relative;
			margin-bottom: 20px;
		}

		.result-value {
			float: left;
			width: 140px;

			font-size: 60px;
			font-weight: 900;
			line-height: 60px;
			text-align: center;
			position: absolute;
			font-family: $font-head;

			span {
				margin-top: -5px;
				display: block;
				font-size: 14px;
				font-weight: 400;
				line-height: 16px;
			}

			&:before {
				top: 10px;
				right: 0;
				width: 1px;
				height: 32px;
				content: ' ';
				position: absolute;
				background: #e4e4e4;
			}
		}

		.result-text {
			font-size: 15px;
			line-height: 21px;
			margin-left: 160px;
		}
	}
}