* {
	@include box-sizing(border-box);
}
*:before,
*:after {
	@include box-sizing(border-box);
}


// Body reset

html {
	font-size: 10px;
	min-width: 1000px;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}


body {
	font-family: $font-base;
	font-size: $font-size-base;
	line-height: $line-height-base;
	color: $text-color;
	background-color: $body-bg;
}


// Reset fonts for relevant elements
input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}


.container {
	width: 1000px;
	margin: 0 auto;
	padding-left: 10px;
	padding-right: 10px;
	position: relative;
	@include clearfix();
}


// Links

a {
	text-decoration: none;

	&:hover,
	&:focus {
		outline: none;
	}

}


// Headings

h1, h2, h3, h4 {
	margin: 0;
	padding: 0;
	font-weight: 400;
}

h1 {
	font-size: 36px;
	line-height: 44px;
	font-weight: 900;
	font-family: $font-head;
	text-transform: uppercase;
}

h2 {
	color: #464646;
	font-size: 30px;
	font-weight: 900;
	line-height: 30px;
	text-align: center;
	margin-bottom: 55px;
	padding-bottom: 40px;
	font-family: $font-head;
	text-transform: uppercase;
	background: url("../img/title.png") 50% 100% no-repeat;
}

p {
	padding: 0;
	margin: 0 0 10px 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}


.text-brown {
	color: $color-brown;
}